<header>
  <!--border-bottom box-shadow-->
  <nav class='navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow '>
    <!--<div class="container">-->
    <a class="navbar-brand" [routerLink]='["/"]'>AspCoreAngular</a>
    <div class="nav-item dropdown"
        *ngIf="currentUser"
         >

      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
         data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        Welcome, {{currentUser?.userName}}
      </a>
      <!--*ngIf="currentUser"-->
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
        <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
        <!--<div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Something else here</a>-->
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded" (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--d-sm-inline-flex flex-sm-row-reverse    [ngClass]='{"show": isExpanded}'-->
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
      <ul class="navbar-nav flex-grow">
        <!--flex-grow-->
        <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a class="nav-link text-white" [routerLink]='["/"]'>Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-white" [routerLink]='["/counter"]'>Counter</a>
        </li>
        <li class="nav-item" [routerLinkActive]='["link-active"]'>
          <a class="nav-link text-white" [routerLink]='["/fetch-data"]'>Fetch data</a>
        </li>



      </ul>
    </div>
    <!--</div>-->
  </nav>
</header>
